<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/places/tabs/offers" text=""></ion-back-button>-->
      <ion-back-button [defaultHref]="getOffersTabLink()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Offer {{ place?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <ion-grid class="ion-padding" *ngIf="isLoading && !isError">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding" *ngIf="!isLoading && !isError">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ion-img [src]="place?.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-padding" *ngIf="!isLoading && !isError">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="">
        <p>{{ place?.description }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="">
        <!--<ion-button class="ion-margin" color="primary" [routerLink]="['/','places', 'tabs', 'offers', 'edit', place?.id, 'offer']">Edit</ion-button>-->
        <ion-button class="ion-margin" color="primary" [routerLink]="[getOfferEditLink(place?.id)]">Edit</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
