<ion-header>
  <ion-toolbar>

    <ion-buttons slot="primary">
      <ion-icon name="close" (click)="onCancel()"></ion-icon>
    </ion-buttons>

    <ion-title>{{ selectedPlace?.title }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>

      <!--first name-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" ngModel name="firstName" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--last name-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" ngModel name="lastName" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--number of guests-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Number of Guests</ion-label>
            <ion-select name="guestNumer" [ngModel]="'2'">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--dates-->
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">From</ion-label>
            <ion-datetime display-format="MMM DD YYYY" picker-format="YYYY MMM DD" [min]="selectedPlace.availableFrom.toISOString()" [max]="selectedPlace.availableTo.toISOString()" [ngModel]="startDate" name="dateFrom" required #fromDateCtrl="ngModel"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">To</ion-label>
            <ion-datetime display-format="MMM DD YYYY" picker-format="YYYY MMM DD" [min]="fromDateCtrl.value" [max]="selectedPlace.availableTo.toISOString()" [ngModel]="endDate" name="dateTo" required></ion-datetime>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <!--<ion-button color="primary" (click)="onBookPlace()">Book!</ion-button>-->
          <ion-button type="submit" color="primary" [disabled]="!f.valid || !datesValid" expand="block">Book!</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>
</ion-content>
